

/* .carss{
    margin: 0px;
    background-color: red;
    display: flex;
    width: 100%;
    max-width: 1200px;
    flex-direction: row;
    } 
    
  .sa{
    display: flex;
    max-width: 300px;
  }

  .carousel{
    max-width: 1200px;

   } */

   .sliders{
    background-color: #ffffff0f;
    border-radius: 20px;
    gap: 20px;
    backdrop-filter: blur(16px);
    width: 90%;

   }

  .carousel{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 20px;
   
  }

  .carouselinner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
    position: relative;
  }

  .car1{
    height: 100%;
    object-fit: cover;
  }

  .caruselcontent{
    display: flex;
    flex-direction: column;
    line-height: 20px;
    gap: 20px;
    width: 50%;
  }

  .moviename{
    font-size: 4rem;
  }

  .caroselchip{
    display: flex;
    width: 100%;
    gap: 10px;
  }

  .chip3{
    background-color: #ffffff41;
    padding: 0px 8px;
    font-size: 12px;
    border-radius: 4px;
    color: aqua;
  }

  .carimg{
    width:100%;
    height: 100%;
    object-fit: contain;
  }


  /* .carousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
   */

  .carouselimg{
    display:flex;
    align-items: center;
    width: 900px;
    height: 480px; 
    object-fit: cover;
    transition: filter 0.5s ease-in-out;
    max-width: 1200px;
    border-radius: 10px;
  }

.carimages{
  width: 100%;
  max-width: 1200px;
  max-height: 480px;
  height: 100%;
  border-radius: 10px;
}


@media screen and (max-width:768px){
  .caruselcontent{
    position: absolute;
    width: 90%;
    gap: 10px;
    max-width: 410px;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff33;
    backdrop-filter: blur(20px);
    bottom: 20px;
    border: 1px solid #ffffff4d;
    left: 20px;
  }

  
  .moviename{
    font-size: 2rem;
  }

}

@media screen and (max-width:468px){
  .caruselcontent{
    max-width: 260px;
  }

 
  .description{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 400px;
  }
}
  
/*   
  .carousel:hover .carousel-item {
    filter: blur(0px); 
  }
  
  .carousel::before,
  .carousel::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 40px;
    height: 100%;
    background: linear-gradient(to right, #0000004d, transparent);
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel::before {
    left: 0;
    transform: translateX(-100%);
  }
  
  .carousel::after {
    right: 0;
    transform: translateX(100%);
  }
  
  .carousel:hover::before,
  .carousel:hover::after {
    transform: translateX(0);
  }
   */